body {
	background: linear-gradient(-45deg, #d659ad, #f175ef, #ffcf6e, #f78872);
	background-size: 400% 400%;
	animation: gradient 24s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 60%;
	}
	60% {
		background-position: 100% 40%;
	}
	100% {
		background-position: 0% 60%;
	}
}
